:root {
  --primary: #0d0d0f;
  --secondary: #1a1a1f;
  --accent: #2d2d35;
  --accentHover: #48484f;
  --foreground: #d4d4d4;
  --blue-accent: #2563eb;
  --green-accent: #16a34a;
  --red-accent: #dc2626;
}

* {
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
}

main,
.body-container,
.dashboard-container,
.no-punches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

.no-punches-container {
  justify-content: start;
}

.new-entry-button {
  border: 2px solid var(--accent);
  border-radius: 10px;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  color: var(--foreground);
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in;
}

.new-entry-button:hover {
  background-color: var(--accentHover);
}

.title {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  color: var(--foreground);
  width: 60%;
  text-align: center;
}

.entry-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.entry-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  max-height: 650px;
  height: 100%;
  flex-grow: 1;
  background-color: var(--secondary);
  padding: 2rem;
  border-radius: 8px;
}