.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  border-bottom: 2px solid var(--accent);
}

.nav-link {
  font-size: 0.8rem;
  color: var(--foreground);
  margin: auto 0.5rem;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-link.selected {
  background-color: var(--accentHover);
  font-weight: bold;
  font-style: italic;
  border-radius: 4px;
}