.entry-container,
.entry-title-container,
.entry-form,
.form-body,
.form-row,
.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.entry-container,
.entry-form,
.form-body {
  flex-grow: 1;
}

.entry-form,
.form-buttons {
  justify-content: space-evenly;
}

.entry-form {
  overflow-y: auto;
}

.form-row,
.form-buttons {
  flex-direction: row;
}

.form-body {
  border: 2px solid var(--accent);
  border-radius: 10px;
  width: 60%;
  justify-content: space-evenly;
}

.summary-items {
  width: 60%;
  border: 5px solid var(--accent);
  border-radius: 5px;
}
.summary-table {}
.summary-table-row {}
.summary-header {}
.summary-table-body {}
.summary-table-data {}

.form-label,
.form-input {
  font-style: italic;
  font-size: 1rem;
  color: var(--foreground);
  text-align: center;
}

.form-label {
  width: 30%;
}

.form-input {
  border: 2px solid var(--accent);
  border-radius: 15px;
  width: 55%;
  height: 30px;
}

.form-button {
  border: 2px solid var(--accent);
  border-radius: 1rem;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  color: var(--foreground);
  width: 20%;
  height: 30px;
}

.form-input,
.form-button {
  background-color: transparent;
  transition: all 0.3s ease-in;
}

.form-input:hover,
.form-button:hover {
  background-color: var(--accentHover);
}