.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid var(--accent);
}
.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-right: 2rem;
}
.app-icon {
  margin: 0.5rem;
}
.header-title {
  font-weight: bold;
  font-style: italic;
  font-size: 1.3rem;
  color: var(--foreground);
  width: 100%;
  text-align: start;
}
.clock-display {
  font-style: italic;
  font-size: 0.8rem;
  color: var(--foreground);
  width: 100%;
  text-align: end;
}