header,
.title-container,
.clock-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header {
  border-bottom: 1px solid var(--accent);
}

.title-container {
  width: 30%;
}

.clock-container {
  flex-direction: column;
  width: 70%;
  background-color: blue;
}

.app-icon {
  border-radius: 9999px;
}

.header-title,
.clock-display {
  font-size: 0.8rem;
  color: var(--text-primary);
  width: 1000%;
}

.header-title {
  font-weight: bold;
  font-style: italic;
  text-align: start;
}

.clock-display {
  text-align: end;
}